body{
    margin: 0;
}
.container{
    border: 6px solid orangered;   
    /* display: inline-grid;  */
    display: grid; 
    
    
    

}

.grid-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;

}


.item-1{
    background-color: #b4bf35;
}
.item-2{
    background-color: #b95f21;
}
.item-3{
    background-color: #1c4c56;
}
.item-4{
    background-color: #cfb276;
}
.item-5{
    background-color: #6b0803;
}
.item-6{
    background-color: #cfb276;
}
.item-7{
    background-color: #b95f21;
}
.item-8{
    background-color: #01243a;
}
.item-9{
    background-color: #aad041;
}



/* grid-templete-areas  */
body{
    background-color: #dedede;
    display: grid;
    grid-template-areas :
    "header  header  header  header"
    "nav     nav     nav     aside"
    "main    main    main    aside "
    "footer  footer  footer  aside ";

    grid-template-rows: 1fr .25fr 4fr 1fr;

}

body > * {
    border: solid 1px #333;
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    background-color: #088398;
}

header {
    background-color: #89f9dc;
    grid-area: header;
}
nav{
    background-color: #00b9b3;
    grid-area: nav;
}

aside{
    background-color: #046179;
    grid-area: aside
}

footer {
    background-color: #00a4c0;
    grid-area: footer;
}
main {
    grid-area : main;
}
